# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projets_dev\helloworld_unit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
